body {
  background-color: powderblue;

font-style: 
size: 100px;
color: black

}
input{

font-style: 
size: 100px;
color: black
}
label
{
font-style: 
size: 20px;
color: black

}
h1 {
  color: blue;
}
p {
  font-style: 
size: 30px;
color: blue
}

<table>
 font-style: 
size: 30px;
color: red;

</table>

